<?xml version = "1.0" encoding = "UTF-8"?>
<configuration>
	<appender name="STDOUT"
		class="ch.qos.logback.core.ConsoleAppender">
		<encoder>
			<pattern>[%d{yyyy-MM-dd'T'HH:mm:ss.sss'Z'}] [%C] [%t] [%L] [%-5p]
				%m%n</pattern>
		</encoder>
	</appender>

	<appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
		<File>/var/log/kiki/kiki-cpg.log</File>
		<encoder>
			<pattern>[%d{yyyy-MM-dd'T'HH:mm:ss.sss'Z'}] [%C] [%t] [%L] [%-5p]
				%m%n</pattern>
			<!-- <pattern>%d{HH:mm:ss,SSS} %-5p [%c] - %m%n</pattern> -->
		</encoder>

		<rollingPolicy
			class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<!-- hourly rollover -->
			<!-- fileNamePattern>E:\\var\log\\viraj-spring-dev.%d{yyyy-MM-dd_HH:mm}.log</fileNamePattern> -->
			<fileNamePattern>/var/log/kiki/kiki-cpg.%d{yyyy-MM-dd-HH}.log
			</fileNamePattern>
			<!-- retain 30 days logs -->
			<maxHistory>30</maxHistory>
		</rollingPolicy>
	</appender>

	<appender name="validation-appender"
		class="ch.qos.logback.core.rolling.RollingFileAppender">
		<file>/var/log/kiki/kiki-cpg-validation.log </file>

		<rollingPolicy
			class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<!-- hourly rollover -->
			<!-- fileNamePattern>E:\\var\log\\viraj-spring-dev.%d{yyyy-MM-dd_HH:mm}.log</fileNamePattern> -->
			<fileNamePattern>/var/log/kiki/kiki-cpg-validation.%d{yyyy-MM-dd-HH}.log
			</fileNamePattern>
			<!-- retain 30 days logs -->
			<maxHistory>30</maxHistory>
		</rollingPolicy>

		<encoder>
			<pattern>%d{HH:mm:ss,SSS} %-5p [%c] - %m%n</pattern>
		</encoder>
	</appender>

	<logger name="validation-logger">
		<appender-ref ref="validation-appender" />
	</logger>

	<root level="INFO">
		<appender-ref ref="FILE" />
		<appender-ref ref="STDOUT" />
	</root>
</configuration>